body {
  @extend %system_normal--300;
}

.columns,
.column {
  border: 1px solid #000;
}

a {
  cursor: pointer;
  text-decoration: underline;  

  &:hover {
    text-decoration: none; 
  }
}

hr {
  border: none;
  height: 1px;
  color: #000; 
  background-color: #000; 
  margin: 4px 0 4px 0; /* trbl */
}

// apilist_categories nav
// ==================================================/
@mixin apilist_categories_theme() {
  .apilist_categories {
    a {    
      @extend %font_color--dark2;

      &:hover {
        @extend %font_color--dark1;
      }
    }

    li {
      @extend %bg_dark--secondary;
      border-bottom: 1px solid #5c5d60;

      &:nth-of-type(odd) {
        @extend %bg_dark--extra1;
      }
    }

    .apilist_categories_count {
      @extend %bg_dark--extra2;
      @extend %font_color--dark1;
    }
  }
}
@include apilist_categories_theme();

.apilist_categories {
  a {
    @extend %display--inline-block;
  }

  .apilist_categories_count {
    @extend %display--inline-block;
    padding: 2px 4px 2px 4px; /* trbl */
    // padding: 2px;
    border-radius: 2px;
    }

  li {
    @extend %padd--6;
    cursor: pointer;
    
    &:last-of-type {
      border-bottom: none;
    }

    &:hover {
      a {
        color: #fff;
        text-decoration: none;  
      }
    }
  }
}

// 
// ==================================================/
.apilist {
  // @extend %padd--4;
}

// mobile portrait (320x480) 
@include mq($from: mobile) {
  .apilist_rightside {
    padding-left: 0;
  }
}

// *mobile landscape (480x320)
@include mq($from: mobileLandscape) {
  .apilist_rightside {
    padding-left: 4px;
  }  
}

.apilist_filtersearch {
  background-color: #eee;
}

.apilist_filtersearch,
.apilist_pagecontrols,
.apilist_sorter,
.apilist_main {
  @extend %padd--4;
}

.apilist_pagecontrols,
.apilist_sorter,
.apilist_main {
  background-color: #eee;
  margin-top: 4px;
}



